version: "3.4"
services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
      - 8267:8267 # Internal node port
      - 8268:8268 # Example extra node port
    environment:
      - TZ=America/New_York
      - PUID=1000
      - PGID=1006
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - nodeName=MainNodeSick
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /docker-containers/tdarr/server:/app/server
      - /docker-containers/tdarr/configs:/app/configs
      - /docker-containers/tdarr/logs:/app/logs
      - /Movies:/media/movies
      - /TvShows:/media/tv
      - /docker-containers/tdarr/transcode_cache:/temp
    stdin_open: true    # to attach to containers
    tty: true           # also used to attach to containers
#    network_mode: service:wireguard     # To run through vpn service container, in turn UI port must be forwarded inside vpn. No local access unless otherwise defined
    networks:           # Specify network for container
      - homelab
# node example
  # tdarr-node:
  #   container_name: tdarr-node
  #   image: ghcr.io/haveagitgat/tdarr_node:latest
  #   restart: unless-stopped
  #   network_mode: service:tdarr
  #   environment:
  #     - TZ=Europe/London
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - UMASK_SET=002
  #     - nodeName=MainNodeSick
  #     - serverIP=0.0.0.0
  #     - serverPort=8266
  #     - inContainer=true
  #   devices:
  #     - /dev/dri:/dev/dri
  #   volumes:
  #     - /docker-containers/tdarr/configs-node:/app/configs
  #     - /docker-containers/tdarr/logs:/app/logs
  #     - /Movies:/media/movies
  #     - /TvShows:/media/tv
  #     - /docker-containers/tdarr/transcode_cache:/temp
#     stdin_open: true    # to attach to containers
#     tty: true           # also used to attach to containers
# #    network_mode: service:wireguard     # To run through vpn service container, in turn UI port must be forwarded inside vpn. No local access unless otherwise defined
#     networks:           # Specify network for container
#       - homelab
networks:    # I don't know why but you have to specify the network 2x. In service, and in this tag area..
  homelab:
    external: true      # This option causes compose to join the above network instead of making a _default one (supposedly)