version: "2.1"
services:

  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1006
      - TZ=America/New_York
      #- PASSWORD= #optional
      #- CLI_ARGS= #optional
    volumes:
      - /docker-containers/calibre:/config
      - /Books:/books
      - /unsorted:/downloads
      - /docker-containers/swag-letsencrypt/etc/letsencrypt/live/example.com/fullchain.pem:/config/ssl/certs/fullchain.pem:r
      - /docker-containers/swag-letsencrypt/etc/letsencrypt/live/example.com/privkey.pem:/config/ssl/certs/privkey.pem:r
    ports:
      - 8082:8080
      - 8083:8083
    restart: unless-stopped
    networks:
      homelab:
        aliases:
          - calibre-web  # how to add multiple aliases
networks:    # I don't know why but you have to specify the network 2x. In service, and in this tag area..
  homelab:            # Sub-section, any network name or 'default' to edit default one created
    external: true      # This option causes compose to join the above network instead of making a _default one