version: "2.1"
services:
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1006
      - TZ=America/New_York
      - NZBGET_USER=yourusername #optional
      - NZBGET_PASS=ChangeMe123 #optional
    volumes:
      - /docker-containers/nzbget:/config
      - /unsorted:/downloads #optional
      - /docker-containers/swag-letsencrypt/keys/letsencrypt/fullchain.pem:/config/certs/fullchain.pem:r
      - /docker-containers/swag-letsencrypt/keys/letsencrypt/privkey.pem:/config/certs/privkey.pem:r
    ports:
      - 6789:6789
      - 6791:6791
    restart: unless-stopped
    networks:
      - homelab
networks:    # I don't know why but you have to specify the network 2x. In service, and in this tag area..
  homelab:
    name: homelab      # Networks can also be given a custom name
    external: true      # This option causes compose to join the above network instead of making a _default one